<% include partials/header %>



<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to YelpCamp!</h1>
            <p>Enjoy our campgrounds!</p>
            <p>
                <a class="btn btn-primary btn-large" href="/campgrounds/new">Add a Campground</a>
            </p>
        </div>
    </header>

    <div>
        <%= currentUser.username %>
        <%= currentUser._id %>
        <% let admin = currentUser.roles.includes("admin"); %>
        <%= admin %>
    </div>

    <div class="row">
        <div class="col-lg-">
            Our most popular campgrounds.
        </div>
        <div class="row" style="display: flex; flex-wrap: wrap;">
            <% campgrounds.forEach((campgrounds) => {    %>
            <div class="col">
                <div class="img-thumbnail">
                    <img src=" <%= campgrounds.image %> ">
                    <div class="caption">
                        <%= campgrounds.name %>
                    </div>
                    <p>
                        <a class="btn btn-primary" href="/campgrounds/<%=campgrounds._id%>">More info</a>
                    </p>
                    <% if(campgrounds.author.id.equals(currentUser._id)) { %>
                        <button class="btn btn-danger"> SUCCESS</button>
                    <% } %>
                </div>
            </div>
            <% }) %>
        </div>
    </div>
</div>

<% include partials/footer %>